.git
.github
.turbo
.windsurf
node_modules
**/node_modules

.next
**/.next
**/.vercel
**/.vite
**/dist
**/build
**/coverage
**/tsconfig.tsbuildinfo

.env
.env.*
!.env.example

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

*.local
*.tmp
tmp
temp

ASafariM.session.sql
*.sqlite
*.sqlite3

docs
uptime-kuma
